<!DOCTYPE>
<html>

<head>
	<title>TROLLFOLIO</title>
	<style type="text/css">
	a {
		font-size: 2em;
		font-weight: bold;
	}
	</style>
</head>

<body>
	<h1 style="margin-bottom:0px;">TROLLFOLIO - the finest works of art</h1>
	<br>
	<a href="/arghghgh">ARGHGHGH</a><br>
	<a href="/rungogettodachoppa">RUN GO GET TO DA CHOPPA</a><br>
	<a href="/gboned">G-BONED</a><br>
	<a href="/spencer">SuperS(pencer)J3</a><br>
</body>

</html>
